<ion-content class="ion-padding" fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="logo_agendamento" src="https://raw.githubusercontent.com/mohranasued/studio/903d7ec984da1e288287a6758bdf8fd348fc7ff6/src/assets/img/logo_agenda.jpeg"></ion-img>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col>
        <ion-button  expand="block" (click)="navegarParaServicos()">
          <ion-icon name="calendar-outline" slot="end"></ion-icon>
          <ion-label>
            AGENDAR HORÁRIO
          </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button href="tel:+5516982391461">          
          <ion-icon slot="icon-only" name="call-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button href="https://api.whatsapp.com/send?phone=+5516982391461&text=Oi,%20gostaria%20de%20de%20tirar%20duvidas%20para%20agendar%20um%20hor%C3%A1rio!">
          <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button href="https://www.instagram.com/estudio.mohranasued/">
          <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
        </ion-button>
      </ion-col>            
    </ion-row>     
  </ion-grid>
</ion-content>
